Makefile
src/*/Makefile
vendors/*/Makefile
src/xpiks-qt/build*
src/xpiks-qt/BUILDNO
*.pro.user
*.autosave
src/xpiks-tests/build-*
build-*
.DS_Store
*.zip
*.tar
*.pro.user.*
libs/
zlib-1.2.*/
hunspell-1.6.0
*.lib
*.o
*.a
.qmake.stash
moc_*.cpp
moc_*.h
*.exe
installer/packages/xpiks/data/
*.qm
UiTestsStubPlugin/
*.qmlc
*.jsc
*.dmg
*.dylib
*.orig
debian/*.debhelper
debian/*.debhelper.*
debian/xpiks/*
debian/files
